.landing-pages {
  max-width: 1400px;
  background-color: #eeeeee;
  &__title {
    color: #2d2d2d;
  }
  &__description {
    color: #858585;
  }
  &__handwriting {
    @include handwriting;
    margin: 20px 0 0;
    text-align: center;
  }
}
