.online-courses {
  background-color: #11141a;
  &__title {
    color: #ffffff;
  }
  &__description {
    // font-size: 1.6rem;
    // line-height: 1.4;
    // max-width: 400px;
    color: #858585;
  }
}
