*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
header,
section,
footer {
  position: relative;
  display: block;
}
img {
  @include responsive-image;
}
svg {
  @include responsive-image;
}
.container {
  @include container;
}
