<div class="course">
  <img class="course__image" src="/images/kajabi_does/course.jpg" alt="Surfer Brah">
  <div class="course__text">
    <p class="course__title">Surf in 30 Days</p>
    <p class="course__members">1442 Members</p>
  </div>
</div>
