<div class="email-sequence">
  <div class="email-sequence__top">
    <p class="email-sequence__title">Sales Page OVO Email Sequence</p>
    <p class="email-sequence__subtitle">8 emails over 14 days</p>
  </div>
  <div class="email-sequence__middle">
    <div class="email-sequence__middle-content">
      <img class="email-sequence__image" src="/images/kajabi_does/email_sequence.jpg" alt="Surfer Brah">
      <div class="email-sequence__text">
        <p class="email-sequence__subject">Astro-Photography Course Available Now!</p>
        <p class="email-sequence__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia expedita optio quas, tempore consectetur magnam debitis asperiores fuga repudiandae, accusantium voluptatibus hic fugiat ipsum eaque totam dolor commodi adipisci exercitationem.</p>
      </div>
    </div>
  </div>
  <div class="email-sequence__bottom">
    <div class="email-sequence__stat">
      <p class="email-sequence__stat-number">1254</p>
      <p class="email-sequence__stat-title">Sends</p>
    </div>
    <div class="email-sequence__stat">
      <p class="email-sequence__stat-number">67%</p>
      <p class="email-sequence__stat-title">Opened</p>
    </div>
    <div class="email-sequence__stat">
      <p class="email-sequence__stat-number">34%</p>
      <p class="email-sequence__stat-title">Clicked</p>
    </div>
  </div>
</div>
