<div class="fauxpad">
  <div class="fauxpad__button fauxpad__power"></div>
  <div class="fauxpad__button fauxpad__volume fauxpad__volume--1"></div>
  <div class="fauxpad__button fauxpad__volume fauxpad__volume--2"></div>
  <div class="fauxpad__overflow">
    <div class="fauxpad__outer-frame"></div>
    <div class="fauxpad__frame"></div>
    <div class="fauxpad__background"></div>
    <div class="fauxpad__content"></div>
  </div>
</div>
