<div class="funnel">
  <div class="funnel__overlay"></div>
  <img class="funnel__image" src="/images/kajabi_does/membership_site.jpg" alt="Surfer Brah">
  <div class="funnel__content">
    <p>Sales Pages OVO Email Seqence</p>
  </div>
</div>
