<div class="kajabi-replaces <%= appended_classes if locals.key?(:appended_classes) %>">
  <p class="kajabi-replaces__title">Kajabi Replaces:</p>
  <%= partial "images/shared/brands/success.svg" %>
  <%= partial "images/shared/brands/forbes.svg" %>
  <%= partial "images/shared/brands/time.svg" %>
</div>
