<div class="membership-site">
  <img class="course__image" src="/images/kajabi_does/membership_site.jpg" alt="Surfer Brah">
  <div class="membership-site__text">
    <p class="membership-site__title">Mike’s Baseball Masterclass</p>
    <p class="membership-site__members">1442 Members</p>
    <p class="membership-site__button">Enter Membership Site</p>
  </div>
</div>
