<div class="screen screen--desktop">
  <div class="screen__chrome">
    <div class="screen__pip screen__pip--1"></div>
    <div class="screen__pip screen__pip--2"></div>
    <div class="screen__pip screen__pip--3"></div>
    <div class="embed">
      <div class="embed__content">
        <img class="course__image" src="/images/kajabi_does/course.jpg" alt="Surfer Brah">
      </div>
    </div>
  </div>
</div>
