<div class="center">
  <div class="center__line center__line--one-quarter center__line--horizontal"></div>
  <div class="center__line center__line--one-quarter center__line--vertical"></div>
  <div class="center__line center__line--half center__line--horizontal"></div>
  <div class="center__line center__line--half center__line--vertical"></div>
  <div class="center__line center__line--three-quarter center__line--horizontal"></div>
  <div class="center__line center__line--three-quarter center__line--vertical"></div>
</div>
