<section class="section membership-sites">
  <div class="membership-sites__background"></div>
  <div class="container membership-sites__container">
    <div class="grid grid--gutter-large">
      <div class="col-sm-7">
        <div class="membership-sites__content">
          <%= partial "partials/pages/kajabi_does/components/course" %>
          <%= partial "partials/pages/kajabi_does/components/instructor" %>
        </div>
      </div>
      <div class="col-sm-5">
        <p class="heading--1 section__title membership-sites__title">Kajabi Does<br/>Membership Sites.</h1>
        <p class="section__description membership-sites__description">A consistent income means a thriving online business. Go beyond one-time product sales and start your own subscription service by charging weekly, monthly, or annually for continuous access to your training. Easily upload new content to your membership site and give your members even more value.</p>
      </div>
    </div>
  </div>
</section>
