<section class="section online-courses">
  <div class="online-courses__background"></div>
  <div class="container online-courses__container">
    <div class="grid grid--gutter-large">
      <div class="col-sm-7">
        <div class="online-courses__content">
          <%= partial "partials/pages/kajabi_does/components/course" %>
          <%= partial "partials/pages/kajabi_does/components/instructor" %>
        </div>
      </div>
      <div class="col-sm-5">
        <p class="heading--1 section__title online-courses__title">Kajabi Does<br/>Online Courses.</h1>
        <p class="section__description online-courses__description">With Kajabi’s course creator, you can build highly interactive learning environments with unlimited video hosting, drip content, homework assignments, quizzes, and more. But you’re not limited to just courses–offer coaching services, sell an eBook, give away PDFs, etc. And with Kajabi’s powerful sales tools, you can offer your products and get paid however you want.</p>
        <%= partial "partials/pages/kajabi_does/components/cta" %>
      </div>
    </div>
  </div>
</section>
