<section class="section websites">
  <div class="websites__background"></div>
  <div class="container websites__container">
    <div class="grid grid--gutter-large">
      <div class="col-sm-7">
        <div class="websites__content">
          <%= partial "partials/pages/kajabi_does/components/screen_desktop" %>
          <p class="websites__handwriting">Update your site in seconds!</p>
        </div>
      </div>
      <div class="col-sm-5">
        <p class="heading--1 section__title websites__title">Kajabi Does<br/>Websites.</h1>
        <p class="section__description websites__description">A consistent income means a thriving online business. Go beyond one-time product sales and start your own subscription service by charging weekly, monthly, or annually for continuous access to your training. Easily upload new content to your membership site and give your members even more value.</p>
        <%= partial "partials/pages/kajabi_does/components/kajabi_replaces", locals: {
          appended_classes: "kajabi-replaces--inverted"
        } %>
        <%= partial "partials/pages/kajabi_does/components/cta" %>
      </div>
    </div>
  </div>
</section>
