@mixin btn-styles {
  @include btn--outline();
  @include appearance-none;
  font-family: $font-family-default;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 12.5px 30px;
  cursor: pointer;
  user-select: none;
  transition: all 0.2s;
  text-align: center;
  white-space: normal;
  text-decoration: none;
  color: #ffffff;
  border: 0;
  border-radius: $border-radius-default;
  outline: none;
  background-color: $color-primary;
  &:hover {
    background-color: darken($color-primary, 10%);
  }
  &:last-child {
    margin-right: 0;
  }
}
@mixin btn--block {
  display: block;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
@mixin btn--outline($color: $color-primary, $hover-color: #ffffff, $hover-background: $color-primary) {
  &.btn--outline {
    padding: 11.5px 29px;
    color: $color;
    border: 1px solid $color;
    background-color: transparent;
    &:hover {
      color: $hover-color;
      background-color: $hover-background;
    }
  }
}
@mixin btn-styles--large {
  font-weight: 700;
  padding: 17.5px 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin btn-styles--medium {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 19px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
@mixin btn-styles--small {
  font-size: 1.6rem;
  padding: 10px 15px;
  &.btn--outline {
    padding: 9px 14px;
  }
}
@mixin btn-styles--extra-small {
  font-size: 1.4rem;
  padding: 6px 15px;
  &.btn--outline {
    padding: 5px 9px;
  }
}
.btn {
  @include btn-styles;
}
.btn--light {
  color: $color-primary;
  background-color: #ffffff;
  &:hover {
    background-color: darken(#ffffff, 10%);
  }
}
.btn--lighter {
  color: #ffffff;
  background-color: $color-lighter;
  &:hover {
    background-color: darken($color-lighter, 10%);
  }
}
.btn--dark-blue {
  color: #ffffff;
  background-color: $color-dark-blue;
  &:hover {
    background-color: darken($color-dark-blue, 10%);
  }
}
.btn--white-shadow {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 20px 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $color-primary;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.1);
  &:hover {
    background-color: darken(#ffffff, 2%);
  }
}
.btn--extra-small {
  @include btn-styles--extra-small;
}
.btn--small {
  @include btn-styles--small;
}
.btn--medium {
  @include btn-styles--medium;
}
.btn--large {
  @include btn-styles--large;
}
.btn--shadow {
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}
.btn--shadow-large {
  box-shadow: $box-shadow-large;
}
.btn--block {
  @include btn--block;
}
.btn--nowrap {
  white-space: nowrap;
}
@media (max-width: $sm-max) {
  .btn {
    &--block-mobile {
      @include btn--block;
    }
  }
}

.btn-group {
  @include clearfix;
  &__btn {
    position: relative;
    float: left;
    padding: 11.5px 29px;
    opacity: 1;
    color: $text-default;
    border: 1px solid $text-default;
    background-color: transparent;
    &:hover {
      color: $text-default;
      background-color: lighten($text-default, 50%);
    }
  }
  &__btn--selected {
    opacity: 1;
    color: #ffffff;
    border-color: $text-default;
    background-color: $text-default;
  }
  &__btn:first-child {
    margin: 0;
    border-radius: $border-radius-default 0 0 $border-radius-default;
  }
  &__btn:not(:first-child) {
    border-left: 0;
  }
  &__btn:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  &__btn + &__btn {
    margin-left: -1px;
  }
  &__btn:last-child {
    border-radius: 0 $border-radius-default $border-radius-default 0;
  }
}
.btn-group--small {
  .btn-group__btn {
    font-size: 1.6rem;
    padding: 8px 14px;
  }
}
