.indicator {
  line-height: 100px;
  position: relative;
  z-index: 100;
  top: 10px;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-left: 10px;
  text-align: center;
  color: #ffffff;
  background-color: rebeccapurple;
}
